:root {
--color-primary: #e30606;
}

.App-header {
 color: var(--color-primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px var(--color-primary) solid;
  margin: 2rem auto;
}
img {
  width: 20vw;
  height: 20vh;
}

.App-body {
margin-left: 1rem;
}

.App-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding-bottom: 2rem;
  top: auto;
  position: fixed;
  border-top: 2px var(--color-primary) solid;
  font-style: italic;
  font-size: small;
}

label, label + input + button {
  margin-left: 1rem;
}